@import '../../_colors.scss';

.dashboard-content {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: $background;
    margin-left: 200px;
    // border: solid red;
    h2 {
        width: 80vw;
        display: flex;
        color: white;
        font-weight: normal;
    }
}