
$background: #1A1E37;
$sections: #262C46;
$headers: #303757;
$maps: #445072;
$text: #9799A8;

$purple: #8287ED;
$teal: #45DCE5;

$pink: #FF6FB4;
$orange: #FF946E;

$violet: #645FE8;
$magenta: #C547FA;

$lavender: #AA54F8;
$salmon: #F6738C;

$pink-red: #E64688;
$hot-orange: #FE757E;
$hot-purple: #E858F5;