

.menu-sidebar {
    width: 200px;
    height: 100vh;
    background: black;
    display: flex;
    flex-direction: column;
    align-content: center;
}

.menu-header {
    color: white;
    width: 200px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: solid 1px white;
    img {
        width: 160px;
        height: auto;
    }
}

.menu-item {
    width: 200px;
    height: 40px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 10pt;
}