@import '../_colors.scss';

.revenue-container {
    width: 80vw;
    height: 500px;
    background: $sections;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    border-radius: 5px;
}

.revenue-header {
    width: 80vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: $headers;
    padding: 0px 30px 0px 30px;
    border-radius: 5px 5px 0px 0px;
    h3 {
        color: $text;
        font-weight: normal;
    }
}

.revenue-date-range {
    width: 400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    p {
        margin: 0;
        color: $text;
        font-size: 10pt;
    }
    input {
        border: solid 1px $text;
        background: none;
        width: 130px;
        height: 25px;
        border-radius: 3px;
        outline: none;
        color: $text;
        font-size: 10pt;
    }
}

.revenue-three-dot-menu {
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    // border: solid gold 1px;
    div {
        width: 5px;
        height: 5px;
        border-radius: 12pc;
        background: $text;
    }
}