@import '../_colors.scss';

.revenue-container {
    width: 80vw;
    background: $sections;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.revenue-header {
    width: 80vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: $headers;
    border-radius: 5px 5px 0px 0px;
    h3 {
        color: $text;
        font-weight: normal;
        margin-left: 30px;
    }
}

.revenue-date-range {
    width: 400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 30px;
    p {
        margin: 0;
        color: $text;
        font-size: 10pt;
    }
    input {
        border: solid 1px $text;
        background: none;
        width: 130px;
        height: 25px;
        border-radius: 3px;
        outline: none;
        color: $text;
        font-size: 10pt;
    }
}

.revenue-three-dot-menu {
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    // border: solid gold 1px;
    div {
        width: 5px;
        height: 5px;
        border-radius: 12pc;
        background: $text;
    }
}

.revenue-body {
    display: flex;
    align-items: center;
    justify-content: center;
}

.revenue-line-graph {
    width: 45vw;
    margin-right: 50px;
}

.graph-lines {
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    p {
        margin: 0;
        color: $text;
        font-size: 10pt;
    }
}

.line {
    width: 42vw;
    height: 0px;
    border: solid 0.5px $text;
}

.graph-months {
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    p {
        margin: 0;
        color: $text;
        font-size: 10pt;
    }
}
.months {
    display: flex;
    justify-content: space-between;
    width: 42vw;
}

.revenue-charts {
    display: flex;
    flex-direction: column;
}

.protected-transactions {
    display: flex;
    margin: 20px 0px 10px 0px;
}

.protected-circle-chart {
    width: 120px;
    height: 120px;
    border-radius: 12pc;
    border: solid 3px $background;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    h3 {
        margin: 0;
        font-weight: normal;
        color: white;
        margin-bottom: 5px;
    }
    p {
        margin: 0;
        font-size: 9pt;
        color: $text;
    }
}

.protected-transaction-info {
    width: 150px;
    background: $background;
    color: $text;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    margin-left: 30px;
    hr {
        width: 75px;
        border: solid 1px $maps;
    }
}

.total-transactions {
    p {
        margin: 0;
        margin-bottom: 5px;
        font-size: 10pt;
    }
    h3 {
        margin: 0;
        font-weight: normal;
    }
}

.protected {
    p {
        margin: 0;
        margin-bottom: 5px;
        font-size: 10pt;
    }
    h3 {
        margin: 0;
        font-weight: normal;
    }
}

.claim-approval {
    display: flex;
    margin: 10px 0px 20px 0px;
}

.claim-circle-chart {
    width: 120px;
    height: 120px;
    border-radius: 12pc;
    border: solid 3px $background;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    h3 {
        margin: 0;
        font-weight: normal;
        color: white;
        margin-bottom: 5px;
    }
    p {
        margin: 0;
        font-size: 9pt;
        color: $text;
    }
}

.claim-approval-info {
    background: $background;
    color: $text;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    margin-left: 30px;
}

.cai-left {
    width: 150px;
    color: $text;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    hr {
        width: 75px;
        border: solid 1px $maps;
    }
    p {
        margin: 0;
        margin-bottom: 5px;
        font-size: 9pt;
    }
    h3 {
        margin: 0;
        font-weight: normal;
    }
}

.claim-divider {
    height: 80px;
    border: solid 1px $maps;
}

.cai-right {
    width: 150px;
    color: $text;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    hr {
        width: 75px;
        border: solid 1px $maps;
    }
    p {
        margin: 0;
        margin-bottom: 5px;
        font-size: 9pt;
    }
    h3 {
        margin: 0;
        font-weight: normal;
    }
}

